[color]
	ui = auto
[user]
	name = mx@win10linux
	email = xuchuaner@qq.com
[alias]
	co = checkout
    br = branch
    cm = commit
    st = status
	lg = log --pretty=format:\"%h--%an--%cd : %s\"

[gui]
    encoding = utf-8
[core]
	quotepath = false 
    editor = vim
